# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Build output (if you have any)
build/
dist/

# Cache
.cache/
.pnpm-store/
.babelrc.cache
*.tsbuildinfo

# Operating system files
.DS_Store
Thumbs.db

# Editor settings
# .vscode/
.idea/

# Temporary files
tmp/
temp/

# Sensitive keys and certificates
*.pem
*.key

# Test coverage
coverage/
*.lcov

sessions
.vscode